version: "3.9"

services:
  openvpn:
    build: ./docker
    image: openvpn-server:local
    container_name: openvpn-server
    cap_add:
      - NET_ADMIN
    ports:
      - "1194:1194/udp"
    restart: unless-stopped
    volumes:
      - ./data:/etc/openvpn
    environment:
      EASYRSA_KEY_SIZE: 4096
      EASYRSA_ALGO: ec
      EASYRSA_CURVE: secp384r1
      EASYRSA_DIGEST: sha512
      EASYRSA_CA_PASS: ${EASYRSA_CA_PASS:-}
